
.twitter-hub {
    border: 1px solid black;
    border-radius: 5px;
}

.twitter-content {
    color: gray;
    font-size: 0.8em;
}

.twitter-header {
    display: block;
    line-height: 14px;
    margin-top: 3px;
    min-width: 300px;
}

    .twitter-header div, i {
        display: inline;
    }

        i.icon-twitter {
            background-image: url("icons/social/rounded/twitter.png");
        }

.twitter-user {
    min-width: 240px;
}

.twitter-name {
    font-weight: bolder;
    font-size: 0.8em;
}

.twitter-userid {
    font-size: 0.8em;
    color: lightgray;
}

.twitter-timpestamp {
    color: gray;
    min-width: 60px;
    position: relative;
    margin-top: 1px;
    padding-right: 3px;
    float: right;
    font-size: 0.8em;
    font-style: italic;
}

.twitter-content {
    width: 100%;
    padding-top: 5px;
    max-width: 500px;
}

.hashtag {
    text-decoration: none;
}
