<div class="sub-container">
    <nav class="menu">
        <div class="menu-container">
            <button class="submenu-button">Press me</button>
            <ul class="submenu">
                <li>Menu Item 1</li>
                <li>Menu Item 2</li>
                <li>Menu Item 3</li>
                <li>Menu Item 4</li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <button class="opener">Press me</button>
    </div>
</div>


<!-- <div class="twitter-hub content">
            <div class="left-content">
                <i class="icon-twitter"></i>
            </div>
            <div class="right-content">
                <div class="twitter-header">
                    <div class="twitter-user">
                        <span class="twitter-name">Scott Guthrie
                        </span>
                        <span class="twitter-userid">@ScottGuggs
                        </span>
                    </div>
                    <div class="twitter-timpestamp">7 Hours ago</div>
                </div>
                <div class="twitter-content">
                    <a class="hashtag" href="#">#FrasesMuyForras</a> "Me entere de algo, pero no te puedo contar"- PELOTUDO, Y SI NO PODES PARA QUE ME DECIS? PARA DEJARME CON LA MECHA? EH? EH?
       
                </div>
            </div>
        </div>

    <div class="facebook-hub content">
        <div class="left-content">
            <i class="icon-facebook"></i>
        </div>
        <div class="right-content">
            <div class="facebook-header">
                <div class="facebook-user">
                    <span class="facebook-name">Scott Guthrie</span>
                    shared a <a href="#">link</a>.
           
                </div>
                <div class="facebook-timpestamp">7 Hours ago</div>
            </div>
            <div class="facebook-content">
                <img src="http://placehold.it/500x150">
            </div>
        </div>
    </div>-->
